* {


    .calculator {
        width: 320px;
        background: black;
        border-radius: 20px;
        padding: 20px;
    }


    .display {
        height: 100px;
        color: white;
        font-size: 60px;
        text-align: right;
        padding: 20px 10px;
        overflow: hidden;
    }


    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }


    .btn {
        height: 65px;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        background: #333;
        color: white;
    }


    .btn:active {
        opacity: 0.7;
    }


    .btn.light {
        background: #a5a5a5;
        color: black;
    }


    .btn.operator {
        background: #ff9f0a;
        color: white;
    }


    .zero {
        grid-column: span 2;
        border-radius: 40px;
        text-align: left;
        padding-left: 25px;
    }
}